
h3{
    color: #FF8000;
}
.tracks-container{

    text-align: left;
    width: 15%;
   color: #793444;
}

.tracks-container-artist{
    font-weight: 700;
}

.tracks-container-albom-name{
padding-left: 10%;
}