
h3{
    color: #FF8000;
}
.novelty-container{

    text-align: left;
   color: #793444;
   margin-left: 15%;
}

.novelty-container-artist{
    font-weight: 700;
}

.novelty-container-albom-name{
padding-left: 10%;
}