.alboms-container{
   width: 90%;
   height: 100%;
   margin: 0% auto;

   display: flex;
   flex-direction:row ;
   justify-content:space-between  ;
   align-content:space-between;
   color: #793444;

}

@media (max-width: 550px) {
    font-size: 0.5em;
    }

.albom-face{
    width: 60%;
    margin: 0%;
}

.albom-face-image{
    width: 80%;
    margin: 7%;
}

.alboms-container-artist{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 2%;
    margin-left: 10%;
}

.alboms-container-albom-name{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    font-size: 1.3em;
    font-weight: 400;
    margin-right: 10%;

}

.beauty-face-t-l{
    width: 5%;
    position: absolute;
    margin-top: 7%;
    margin-left: -23%;
}

.beauty-face-t-r{
    width: 5%;
    position: absolute;
    margin-top: 7%;
    margin-left: 18%;
    transform: rotate(90deg);
}

.beauty-face-b-r{
    width: 5%;
    position: absolute;
    margin-top: 29%;
    margin-left: 18%;
    transform: rotate(180deg);
}

.beauty-face-b-l{
    width: 5%;
    position: absolute;
    margin-top: 29%;
    margin-left: -23%;
    transform: rotate(90deg);
}

.albom-face-arrow-left{
    width: 40px;
    position: absolute;
    margin-top: 15%;
}

.albom-face-arrow-right{
    width: 40px;
    position: absolute;
    margin-top: 15%;
    margin-left: -2%;;
}


