.concert-wrapper{
    background-color: turquoise;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:space-between;
    padding: 2% 2%;
}

.concert-container{
    background-color: rgb(210, 223, 29);
    width: 30%;
    height: 40%;

}

.concert-title{
    background-color: rgb(250, 41, 180);
    height: 30%;
}

.concert-description{
    background-color: teal;
    height: 30%;
    text-align: right;
    width: 100%;
}

.concert-img{
    width: 400px;
    margin: 0% auto;

}

.concert-loc{
    text-align: center;
    margin: 0% auto;
    width: 100%;
}